:root {
  --vp-c-brand-1: #FE5803;
  --vp-c-brand-2: #FF6D24;
  --vp-c-brand-3: #FF8C44;
  --vp-c-brand-soft: rgba(254, 88, 3, 0.14);
}

.dark {
  --vp-c-brand-1: #FF8C44;
  --vp-c-brand-2: #FE5803;
  --vp-c-brand-3: #FF6D24;
  --vp-c-brand-soft: rgba(254, 88, 3, 0.16);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #FE5803, #FF8C44);
}
